@using InstituteManagement_Models;
@{
    ViewBag.Title = "All Users";
}

@model IEnumerable<ApplicationUser>
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <!-- Zero Configuration  Starts-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>All Users</h5>
                    @*<span>DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function:<code>$().DataTable();</code>.</span><span>Searching, ordering and paging goodness will be immediately added to the table, as shown in this example.</span>*@

                    @*  <button  class="btn btn-pill btn-outline-primary-2x btn-air-primary" type="button" title="btn btn-pill btn-outline-primary-2x btn-air-primary">Create New</button>*@
                </div>
                <form asp-action="ExporDataToFile" method="post">
                    <div style="padding-left:30px;padding-right:30px">
                        <a class="btn btn-pill btn-outline-primary-2x btn-air-primary" type="button" asp-controller="Account" asp-action="Register">Create New </a>


                        <input checked="checked" id="ExportExcel" name="Export"
                               type="radio" value="Excel" hidden />
                        <button type="submit" style="float:right" class="btn btn-pill btn-outline-secondary-2x btn-air-secondary">Export</button>

                    </div>
                </form>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="display table table-light table-bordered table-striped mt-5" id="basic-1" style="border:solid;">
                            <thead>
                                <tr>
                                    <th>SrNo</th>
                                    <th>Email</th>
                                    <th>Contact</th>
                                    <th>Institute Name</th>
                                    <th>Status</th>
                                    @* <th>Password</th>*@
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                @if (Model.Any())
                                {

                                    int SrNo = 1;

                                    @foreach (var data in Model)
                                    {
                                        <tr>
                                            <td>@SrNo</td>
                                            <td>@data.Email</td>
                                            <td>@data.PhoneNumber</td>
                                            
                                            <td>@data.InstituteName</td>
                                            <td>
                                                @if (data.Status == Status.Active)

                                                {
                                                    <a asp-controller="Admin" asp-action="UserStatus" asp-route-id="@data.Id" class="btn btn-primary btn-sm"> <span>@data.Status</span> </a>
                                                }
                                                else

                                                {
                                                    <a asp-controller="Admin" asp-action="UserStatus" asp-route-id="@data.Id" class="btn btn-danger btn-sm"> <span>@data.Status</span> </a>
                                                }
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <a asp-controller="Admin" asp-action="ViewUser" asp-route-id="@data.Id" class="btn btn-success btn-sm"> <span class="bi bi-eye"></span> </a>
                                                    <a class="btn btn-info btn-sm" asp-controller="Account" asp-action="Register" asp-route-id="@data.Id" data-bs-original-title="" title=""> <span class="bi bi-pencil-square"></span> </a>
                                                    
                                                        <a asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@data.Id" class="btn btn-danger btn-sm"  onclick="if(!confirm('Are you Sure To delete item ?')){return false}"> <span class="bi bi-trash"></span> </a>
                                                    
                                                    
                                                    <a asp-action="ForgotPasswordAdmin" asp-controller="Account" asp-route-mail="@data.Email" class="btn btn-secondary btn-sm"> <span class="bi bi-lock"></span> </a>
                                                </div>
                                            </td>
                                        </tr>
                                        SrNo++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>No record found...</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Zero Configuration  Ends-->
    </div>
</div>
<!-- Container-fluid Ends-->
<!--bootstra pop up confirmation dialog-->
<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    <div class="modal-dialog" style="width:501px !important;margin:0 auto;">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h4 class="modal-title" id="delete-conformation">
                    Delete Confirmation
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span>
                                Are you sure you want to delete?
                            </span>
                            @*<strong id="deletedValueName">
                            </strong>*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="hideModel()">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Delete" onclick="deleteData()" />
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <!-- Plugins JS start-->
    <script src="~/assets/js/datatable/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatable/datatables/datatable.custom.js"></script>
    <script src="~/assets/js/tooltip-init.js"></script>

    
}